$smallScreen : 575px;
$backgroundColor: rgb(27, 28, 42);
$keyBackgroundcolor: rgb(87, 87, 96);
$keyBordercolor: rgb(189, 189, 189);
$naturalcolor: rgb(49, 49, 60);
$keyboardHeight : 100px;
$waveformHeight: 200px;
$waveformTop: 35px;
$purple : #FF7877;
$teal : #4589F4;
// $purple : rgb(197, 40, 255);//original
// $teal : rgb(6, 191, 175);//original
// $teal : #009acf;
$gray : rgba(255, 255, 255, .28);